.tutorial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tutorial-content {
    width: 100% !important;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    padding: 30px 100px;

  }
  .tutorial-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
  }
  .tutorial-maintitle {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
  }
  .tutorial-subtitle {
    color: var(--gray);
    font-size: 23px;
    margin-top: 25px;
  }
  .loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tutorial-main {
    padding: 30px;
    width: 50%;
    align-items: center;
    float: left;
  }
  .tutorial-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 50%;
    align-items: center;
    float: right;
    
  }
  @media ( max-width: 500px ) {
    .tutorial {
      width: auto;
    }
    .tutorial-main {
      float: none;
      width: auto;
    }
    .tutorial-start {
      float: none;
      width: auto;
    }
  }
  .btn-social{
      width: 400px;
      height: 60px;
      background-color: white;
      border-radius: 10px;
      border: 0;
      box-shadow: var(--box-shadow);
      font-size: 22px;
      font-weight: 600;
      font-style: bold;
      margin-bottom: 10px !important;
      margin-top: 10px !important;
  }
  .google-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .naver-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .inputBox{
    width: 400px;
    height: 60px;
    background-color: #F6F6F6;
    border-radius: 10px;
    border: 2px solid #7BA2C7;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
}
.inputNextBox{
    width: 400px;
    height: 60px;
    background-color: #F6F6F6;
    border-radius: 10px;
    border: 2px solid #8A3A00;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
}
.emailBtn{
    width: 400px;
    height: 60px;
    background-color: #FFEAEA;
    border-radius: 10px;
    border: 2px solid #FF0000;
    font-size: 20px;
    color: #FF0000;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
.emailFinishBtn{
    width: 400px;
    height: 60px;
    background-color: #C5DFF6;
    border-radius: 10px;
    border: 2px solid #00499E;
    font-size: 20px;
    color: #00499E;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
.getStart{
    width: 400px;
    height: 60px;
    background-color: #FFC977;
    border-radius: 10px;
    border: 2px solid #8A3A00;
    font-size: 20px;
    color: #8A3A00;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}